<GridLayout
marginTop="200px">
<StackLayout>    
<Label id="lbl" text="Music" textWrap="true" class="home-label" verticalAlignment="top" horizontalAlignment="center"></Label>
        <Label id="lbl2" text="Practice" class="home-label" verticalAlignment="top" horizontalAlignment="center"></Label>
        <Label id="lbl2" text="Partner" class="home-label" verticalAlignment="top" horizontalAlignment="center"></Label>
</StackLayout>
<Button text="Get Started!" class="btn btn-primary home-button"></Button>
<Image src="~/assets/images/logo.jpg" class="home-image" verticalAlignment="bottom"></Image>
<GridLayout>
